:root {
	--light:#f3f3f3;
	--dark:#444;
}

.title {
	transition: all 1s;
	text-align: center;
}



.container {
	height: 500px;
	margin:0 auto;
	margin-top:4rem;
}

.container h1 {
	max-width:510px;
	margin:0 auto;
	margin-bottom: -10px;
	color:var(--dark);
	font-weight:800;
	font-size: 5.3rem;
}

.interface {
	margin:0 auto;
	max-width:510px;
	background:var(--dark);
	display:grid;
	grid-template-columns: 4fr 1fr;
}
.arrows {
	display:flex;
	align-self: center;
	flex-flow: column;
}


.up	{
	cursor:pointer;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--light);
  margin-bottom: 0.25rem;
}

.down {
	cursor:pointer;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--light);
 	margin-top: 0.25rem;
}

.timer {
	margin:0 auto;
	display:flex;
	flex-flow:row;
	align-self: center;

}

.timer h2 {
	margin:0 1rem;
 font-size: 4rem;	
 font-weight: 700;
 color:var(--light);
 transition: all 0.5s;
}

.controls {
	margin: 0 auto;
	display:flex;
	flex-flow: column;
	align-self: center;
}

.buttons {
	margin: 1.5rem;
	cursor:pointer;
}

svg {
	color:var(--light);
	transition: all 500;
}

.fas {
	transition:all 500;
}

.far {
	transition: all 1s;
}


.buttons {
	transition: all 1s;
}


